* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

//Variables//
@import "./variables/typo";

//Sections//
@import "./sections/header";
@import "./sections/mainindex";
@import "./sections/footer";
@import "./sections/compratubikini";
@import "./sections/cualesmitalle";
@import "./sections/locales";
@import "./sections/consejosdelavado";



.linea{
  border-top: 0.5px solid rgb(184, 170, 170);
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}
 



