.mainconsejosdelavado {
  h4 {
    text-align: center;
    font-weight: 500;
    margin: 30px;
    font-size: 30px;
    font-family: $tipografia-marca;
    background-color: rgba(226, 224, 69, 0.795);
  }
}

.grid-container {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    "section1 section1 section2 section2"
    "section1 section1 section2 section2"
    "section1 section1 section2 section2"
    "section1 section1 section2 section2";
  display: flex;
  height: 600px;
  width: 100vw;
}



.imagenlavado {
  grid-area: section2;
  img {
    width: 380px;
    height: 420px;
  }
}

.input {
  display: block;

  left: 25%;
  height: 40px;
  width: 50%;
  margin-top: 20px;
}
.formulario {
  margin: 25px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      ". . . ."
      "section1 section1 section1 section1"
      "section1 section1 section1 section1"
      "section2 section2 section2 section2"
      "section2 section2 section2 section2";

    flex-direction: column;
    height: 1000px;
    margin: 0 auto;
  }
}
