@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Outfit:wght@100;200;300;600;800;900&display=swap');

$tipografia-principal:  'Raleway', sans-serif;
$leaguespartan: 'League Spartan', sans-serif;
$tipografia-marca: 'Outfit', sans-serif;